html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: black;
}

html body #root {
  height: 100%;
}

html body .app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
}

html body .app-container .scroll-top {
  width: 50px;
  height: 50px;
  background-color: #E6170F;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 4;
  cursor: pointer;
  border: none;
  border-radius: 300px;
}

html body .app-container .scroll-top .fa-arrow-up {
  color: white;
  font-size: 20px;
}

html body .app-container .scroll {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 500px;
  width: 100%;
  height: 80px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.navbar-container.active {
  background-color: #14171A;
}

.navbar-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .logo-container .navbar__logo {
  width: 70px;
  height: auto;
}

.navbar-container .navbar .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.navbar-container .navbar .list .list__item {
  cursor: pointer;
}

.navbar-container .navbar .list .list__item:hover {
  color: #E6170F;
}

.navbar-container .navbar .list .list__item .list__link.active {
  color: #E6170F;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 955px;
  background: rgba(0, 0, 0, 0) url(../images/slider-1.jpg) no-repeat fixed center center/cover;
  position: relative;
}

.home .home__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  position: absolute;
  left: 0;
  top: 0;
}

.home .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  margin-bottom: 100px;
}

.home .welcome .home__text {
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home .welcome .home__button {
  width: 300px;
  height: 80px;
  background-color: #E6170F;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.home .welcome .home__button:hover {
  background-color: #ff1e4f;
}

.gallery {
  width: 100%;
  padding-left: 400px;
  height: 1300px;
  background-color: #FFFFFF;
  padding-top: 40px;
  position: relative;
  -webkit-box-shadow: inset 0px -20px 10px -15px #323232, inset 0px 20px 10px -15px #323232;
          box-shadow: inset 0px -20px 10px -15px #323232, inset 0px 20px 10px -15px #323232;
}

.gallery .gallery__title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.gallery .gallery__title > span {
  color: #E6170F;
}

.gallery .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.gallery .list .list__item:nth-child(1) {
  width: 305px;
  height: 400px;
}

.gallery .list .list__item:nth-child(1) .list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .list .list__item:nth-child(2) {
  width: 500px;
  height: 400px;
}

.gallery .list .list__item:nth-child(2) .list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .list .list__item:nth-child(3) {
  width: 305px;
  height: 400px;
}

.gallery .list .list__item:nth-child(3) .list__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .list .list__item .list__image {
  border-radius: 30px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.gallery .list .list__item .list__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about-us-container {
  width: 100%;
  padding-left: 400px;
  background-color: #F1F1F1;
  height: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  background: #f1f1f1 url(../images/aboutImage.png) no-repeat fixed right center/contain;
}

.about-us-container .about-us__title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.about-us-container .about-us__title > span {
  color: #E6170F;
}

.about-us-container .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 320px;
}

.about-us-container .about-us .about-us__text {
  color: black;
  font-size: 20px;
  width: 500px;
}

.about-us-container .about-us .about-us__image {
  width: 200px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 20px 4px black;
          box-shadow: 0px 0px 20px 4px black;
  border-radius: 300px;
}

.plans-container {
  width: 100%;
  padding-left: 400px;
  background-color: #F1F1F1;
  height: 900px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  color: black;
  -webkit-box-shadow: inset 0px 20px 10px -15px #323232;
          box-shadow: inset 0px 20px 10px -15px #323232;
}

.plans-container .plans__title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  margin: 0;
}

.plans-container .plans__title > span {
  color: #E6170F;
}

.plans-container .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 550px 550px;
      grid-template-columns: 550px 550px;
  -ms-grid-rows: 100px 300px 300px;
      grid-template-rows: 100px 300px 300px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.plans-container .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #E6170F;
}

.plans-container .list .list__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.plans-container .list .list__item:nth-child(1) .list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.plans-container .list .list__item:nth-child(1) .list__text .list__cost {
  font-size: 50px;
  font-weight: 700;
  color: #E6170F;
}

.plans-container .list .list__item:nth-child(1) .list__text .list__cost::after {
  content: "";
  margin-left: 0;
}

.plans-container .list .list__item:nth-child(2) .list__text .list__cost {
  font-size: 50px;
}

.plans-container .list .list__item:nth-child(2) .list__text .list__cost::after {
  content: "";
  margin-left: 0;
}

.plans-container .list .list__item .list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 30px;
  color: black;
}

.plans-container .list .list__item .list__text .list__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: 700;
  color: #E6170F;
}

.plans-container .list .list__item .list__text .list__cost::after {
  content: "c/u";
  font-size: 20px;
  margin-left: 10px;
}

.plans-container .list .list__item .list__text .list__total-cost {
  font-size: 25px;
}

.contact-container {
  width: 100%;
  padding-left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 900px;
  background-color: white;
  -webkit-box-shadow: inset 0px 20px 10px -15px #323232;
          box-shadow: inset 0px 20px 10px -15px #323232;
  padding-top: 20px;
  position: relative;
  z-index: 3;
}

.contact-container .scroll {
  z-index: -1;
}

.contact-container .contact__title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  margin: 0;
}

.contact-container .contact__title > span {
  color: #E6170F;
}

.contact-container .social-media {
  max-width: 1150px;
}

.contact-container .social-media .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 30px 0;
  margin-bottom: 60px;
}

.contact-container .social-media .list .list__link {
  text-decoration: none;
}

.contact-container .social-media .list .list__link .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: black;
}

.contact-container .social-media .list .list__link .list__item .list__image {
  width: 100px;
  height: 100%;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.contact-container .social-media .list .list__link .list__item .list__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-container .social-media .list .list__link .list__item .list__name {
  font-size: 16px;
  font-weight: 700;
  color: #E6170F;
}

.contact-container .social-media .list .list__link .list__item .list__name:hover {
  color: #ff6b6b;
}

.contact-container .map {
  border: 0;
  -webkit-box-shadow: 0 0 10px .1px black;
          box-shadow: 0 0 10px .1px black;
  border-radius: 10px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #14171A;
}

.footer-container .copyright__bold {
  color: #E6170F;
}
/*# sourceMappingURL=index.css.map */